.sun {
    animation: logo-spin infinite 3s linear;
    @apply text-skyblue
}

.moon {
    animation: logo-shake infinite 2s linear;
    @apply text-skyblue
}

@keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@keyframes logo-shake {
    0% {
      transform: rotate(-45deg);
    }
    10% {
      transform: rotate(-30deg);
    }
    20% {
        transform: rotate(-15deg);
    }
    30% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(15deg);
    }
    50% {
      transform: rotate(30deg);
    }
    60% {
      transform: rotate(15deg);
    }
    70% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(-15deg);
    }
    90% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(-45deg);
    }
}